doctype html
html
    head
        meta(http-equiv="Content-Type" content="text/html; charset=utf-8")
        meta(name = "format-detection" content="telephone = no")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no" id="viewport" name="viewport")
        title 活动
        link(rel="stylesheet" href="css/style.css")
    body
        .container
            header
                img(src='images/titBanner_01.png')
            div.body
                .bodyTit
                    span.mail
                        img(src='images/woMail_03.png')
                    span.qjd
                        img(src='images/qjd_03.png')
                    span.fs
                        img(src='images/fs_03.png')
                .content
                    div.wrap
                        div.tit
                            div.leftImg
                                ul.lunbo
                                    li
                                        img(src='images/yy1_07.png')
                            div.rightCon
                                p 480g
                                div(class="purchase") 限购 <span class="purchaseNum">8</span>  盒
                                h3 御月礼盒
                                s
                                div.priceDiv 联通专享价:￥<span>58.2</span>
                                div.pricebtm
                                    div
                                        span(class="reduce reduce1") -
                                        input(class="moonInput moonInput1" type="text" value="0")
                                        span(class="add add1") +
                                    p 小计 : <span class="priceNum priceNum1">0元</span>
                        div.circleWrap
                            ul.circle
                                li
                                li
script(src='js/jquery-1.11.2.min.js')
script(src='js/phoneauto.js')
//script(src='js/js.js' charset='utf-8')