doctype html
html
    head
        meta(http-equiv="Content-Type" content="text/html; charset=utf-8")
        meta(name = "format-detection" content="telephone = no")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no" id="viewport" name="viewport")
        title olympic
        link(rel="stylesheet" href="css/style.css")
    body
        .container
            div.header
                img(class='titBanner' alt='titBanner' src='images/titBanner_01.png')
            div.bodyWrap
                div.title.afterImg
                    h2 奖牌榜
                    span （仅供参考）
                    p 更新时间：8月10日 14:42
                table(border="0" cellpadding="0" cellspacing="0")
                    thead
                        tr
                            td 名次
                            td 国家
                            td 金牌
                            td 银牌
                            td 铜牌
                            td 统计
                    tbody
                        tr
                            td 1
                            td(class="country") 中国<span class="flag"><img src="images/china_04.png" alt=""></span>
                            td 22
                            td 33
                            td 44
                            td 55
                        tr
                            td 1
                            td(class="country") 美国<span class="flag"><img src="images/american_04.png" alt=""></span>
                            td 22
                            td 33
                            td 44
                            td 55
                        tr
                            td 1
                            td(class="country") 英国<span class="flag"><img src="images/britain_04.png" alt=""></span>
                            td 22
                            td 33
                            td 44
                            td 55
                        tr
                            td 1
                            td(class="country") 中国<span class="flag"><img src="images/china_04.png" alt=""></span>
                            td 22
                            td 33
                            td 44
                            td 55
                        tr
                            td 1
                            td(class="country") 美国<span class="flag"><img src="images/american_04.png" alt=""></span>
                            td 22
                            td 33
                            td 44
                            td 55
                        tr
                            td 1
                            td(class="country") 英国<span class="flag"><img src="images/britain_04.png" alt=""></span>
                            td 22
                            td 33
                            td 44
                            td 55
                        tr
                            td 1
                            td(class="country") 中国<span class="flag"><img src="images/china_04.png" alt=""></span>
                            td 22
                            td 33
                            td 44
                            td 55
                        tr
                            td 1
                            td(class="country") 美国<span class="flag"><img src="images/american_04.png" alt=""></span>
                            td 22
                            td 33
                            td 44
                            td 55
                        tr
                            td 1
                            td(class="country") 英国<span class="flag"><img src="images/britain_04.png" alt=""></span>
                            td 22
                            td 33
                            td 44
                            td 55
                div.match
                    div.title
                        h2 实时赛况
                        span （仅供参考）
                        p 更新时间：8月10日 14:42
                    div(class="matchWrap")
                        ul(class="project")
                            li(class="act") 女子举重63kg级
                            li 女子双人10米台跳水
                            li 男子举重69kg级
                    div(class="box")
                        ul(class="lunboWrap")
                            li(class="lunbo")
                                ul
                                    li
                                        ul
                                            li 冠军 :
                                            li 中国<span><img src="images/china_04.png" alt=""></span>
                                            li 邓薇
                                        ul
                                            li 亚军 :
                                            li 中国<span><img src="images/china_04.png" alt=""></span>
                                            li 邓薇
                                        ul
                                            li 季军 :
                                            li 中国<span><img src="images/china_04.png" alt=""></span>
                                            li 李四
                            li(class="lunbo")
                                ul
                                    li
                                        ul
                                            li 冠军 :
                                            li 中国<span><img src="images/china_04.png" alt=""></span>
                                            li 邓薇
                                        ul
                                            li 亚军 :
                                            li 中国<span><img src="images/china_04.png" alt=""></span>
                                            li 邓薇
                                        ul
                                            li 季军 :
                                            li 中国<span><img src="images/china_04.png" alt=""></span>
                                            li 张三
                            li(class="lunbo")
                                ul
                                    li
                                        ul
                                            li 冠军 :
                                            li 中国<span><img src="images/china_04.png" alt=""></span>
                                            li 邓薇
                                        ul
                                            li 亚军 :
                                            li 中国<span><img src="images/china_04.png" alt=""></span>
                                            li 邓薇
                                        ul
                                            li 季军 :
                                            li 中国<span><img src="images/china_04.png" alt=""></span>
                                            li 王五
                div(class="hot")
                    div(class="title")
                        h2 奖牌榜
                        span （仅供参考）
                        p 更新时间：8月10日 14:42
                    ul(class="hotWrap")
                        li
                            ul
                                li 乒乓球 :
                                li 女单决赛
                                li 8月10日08:30
                        li
                            ul
                                li 乒乓球 :
                                li 女单决赛
                                li 8月10日08:30
                        li
                            ul
                                li 乒乓球 :
                                li 女单决赛
                                li 8月10日08:30
                        li
                            ul
                                li 乒乓球 :
                                li 女单决赛
                                li 8月10日08:30
                        li
                            ul
                                li 乒乓球 :
                                li 女单决赛
                                li 8月10日08:30
                        li
                            ul
                                li 乒乓球 :
                                li 女单决赛
                                li 8月10日08:30
                        li
                            ul
                                li 乒乓球 :
                                li 女单决赛
                                li 8月10日08:30
                        li
                            ul
                                li 乒乓球 :
                                li 女单决赛
                                li 8月10日08:30
                        li
                            ul
                                li 乒乓球 :
                                li 女单决赛
                                li 8月10日08:30
            div(class="blogroll")
                ul
                    li
                        a(href="javascript:;")
                            img(src="images/qixi.jpg" alt="")
                        h3 浪漫七夕，参与有礼！
                        p 参与 : 1000人
                        a(class='btn' href="javascript:;") 马上参与
                    li
                        a(href="javascript:;")
                            img(src="images/qixi.jpg" alt="")
                        h3 浪漫七夕，参与有礼！
                        p 参与 : 1000人
                        a(class='btn' href="javascript:;") 马上参与
                    li
                        a(href="javascript:;")
                            img(src="images/qixi.jpg" alt="")
                        h3 浪漫七夕，参与有礼！
                        p 参与 : 1000人
                        a(class='btn' href="javascript:;") 马上参与
            footer
                img(src='images/footerBg_10.png')
script(src='js/jquery-1.11.2.min.js')
script(src='js/phoneauto.js')
script(src='js/js.js')












