doctype html
html
    head
        meta(http-equiv="Content-Type" content="text/html; charset=utf-8")
        meta(name = "format-detection" content="telephone = no")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no" id="viewport" name="viewport")
        title 活动
        link(rel="stylesheet" href="css/style.css")
    body
        .container
            div.header
                img(class='titBanner' alt='titBanner' src='images/titBanner_01.png')
                div.rule
            div.body
                div.btn
                    a(href='javasccript:;') 为奥运加油
                div.txt （每日加油都可获免费流量哦）
                .prizeWrap
                    .prizeName
                        img(src='images/prize_07.png')
                    .prizeCon
                        .prize
                            div(id="slideBox" class="slideBox lunboWrap")
                                div.bd
                                    ul.oUl
                                        li.oLi
                                            a(href='javascript:;' class="pic")
                                                ul.lunbo
                                                    li.mi 小米盒子
                                                    li.camera 运动相机
                                                    li.three 5元话费
                                        li.oLi
                                            a(href='javascript:;' class="pic")
                                                ul.lunbo
                                                    li.four 100M流量包
                                                    li.five 200M流量包
                                                    li.six 500M流量包
                                div.hd
                                    ul
                        p （立即订购任意产品可获得3次抽奖机会）
                        .btn
                            a(href='javasccript:;') 订购
                        .btn.draw
                            a(href='javasccript:;') 立即抽奖（还剩2次）
                        .myPrize 我的奖品 ：<a href='javasccript:;'>流量</a> <a href='javasccript:;'>礼品</a>
            div.footer
                div.ewm
                    img(src='images/ewm_04.png')
                p 关注沃管家微信领取新人100M免费全国流量
script(src='js/jquery-1.11.2.min.js')
script(src='js/phoneauto.js')
script(src='js/TouchSlide.1.1.js' charset='utf-8')
script(src='js/js.js' charset='utf-8')